.idea/
*.iml
*.log
target/
**/venv/
__pycache__/
**.DS_Store
**/.obsidian
.refact/
.vscode/

src/main/resources/application-dev.properties
.env

# Eclipse
.checkstyle
.classpath
.project
.settings/
bin/

