.idea/
*.iml
*.log
target/
**/venv/
__pycache__/
**.DS_Store
**/.obsidian
.refact/
.vscode/

game/src/main/resources/application-dev.properties
**/.env
**/.env.website

# Eclipse
.checkstyle
.classpath
.project
.settings/
bin/

