.idea/
*.iml
*.log
target/
**/venv/
__pycache__/
**.DS_Store
**/.obsidian
.refact/

src/main/resources/application-dev.properties

# Eclipse
.checkstyle
.classpath
.project
.settings/
bin/
src/main/resources/game-data/item_objects es backup.toml
